/*
This file is used to contain all abstracts imports.
Files inside this folder can contain abstract settings,
helpers or functions. They have no direct output.
*/
//Import Abstracts files
@import 'mixin/flexbox';

/* BOX SHADOW
- usage: @include box-shadow; or @include box-shadow(0, 2px, 2px, #333);
*/
@mixin box-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: $default) {
    box-shadow: $x-axis $y-axis $blur $color;
  }
  
  // Small devices
  @mixin sm {
    @media (min-width: #{$screen-sm-min}) {
      @content;
    }
  }
  
  // Medium devices
  @mixin md {
    @media (min-width: #{$screen-md-min}) {
      @content;
    }
  }
  
  // Large devices
  @mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
    }
  }

  @mixin breakpoint-large {
    @media (min-width: #{$breakpoint-large}) {
        @content;
      }
    }
  
  // Extra large devices
  @mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
    }
  }

  // Extra large devices
  @mixin xxl {
    @media (min-width: #{$screen-xxl-min}) {
      @content;
    }
  }


  // 
  @mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
  }
