
.icon-speech-open:before { content: '\e800'; } /* '' */
.icon-instagram:before { content: '\e801'; } /* '' */
.icon-pinterest-circled:before { content: '\e802'; } /* '' */
.icon-youtube-play:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-placeholder:before { content: '\e805'; } /* '' */
.icon-arrow-back:before { content: '\e806'; } /* '' */
.icon-arrow-carousel:before { content: '\e807'; } /* '' */
.icon-google:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\e80a'; } /* '' */
.icon-linkedin:before { content: '\e80b'; } /* '' */
.icon-arrow-next:before { content: '\e80c'; } /* '' */
.icon-quote-large:before { content: '\e80d'; } /* '' */
.icon-quotes:before { content: '\e80e'; } /* '' */
.icon-location:before { content: '\e80f'; } /* '' */
.icon-download:before { content: '\e810'; } /* '' */
.icon-building:before { content: '\e811'; } /* '' */